# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
node_modules/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
build/asset-manifest.json
build/index.html
build/precache-manifest.b303fc5bae78da5d9772c32ec739e65c.js
build/precache-manifest.cffc88b1f0a5878972b9198e3b2c852f.js
build/service-worker.js
build/static/css/main.3dead8e0.chunk.css
build/static/css/main.3dead8e0.chunk.css.map
build/static/css/main.480c7d40.chunk.css
build/static/css/main.480c7d40.chunk.css.map
build/static/js/1.96936333.chunk.js
build/static/js/1.96936333.chunk.js.map
build/static/js/1.f8f0157b.chunk.js
build/static/js/1.f8f0157b.chunk.js.map
build/static/js/main.51bc7a7a.chunk.js
build/static/js/main.51bc7a7a.chunk.js.map
build/static/js/main.6c812eec.chunk.js
build/static/js/main.6c812eec.chunk.js.map
build/static/media/slide1.92056013.png
build/static/media/slide1.f2638422.png
build.rar
build/asset-manifest.json
build/index.html
build/precache-manifest.7183dcb641ebc0a8e01ca3a72e920c67.js
build/precache-manifest.b303fc5bae78da5d9772c32ec739e65c.js
build/service-worker.js
build/static/css/1.7d2fa5df.chunk.css
build/static/css/1.7d2fa5df.chunk.css.map
build/static/css/1.ad7ef866.chunk.css
build/static/css/1.ad7ef866.chunk.css.map
build/static/css/main.0f55e492.chunk.css
build/static/css/main.0f55e492.chunk.css.map
build/static/css/main.480c7d40.chunk.css
build/static/css/main.480c7d40.chunk.css.map
build/static/js/1.c6a387c0.chunk.js
build/static/js/1.c6a387c0.chunk.js.map
build/static/js/1.f8f0157b.chunk.js
build/static/js/1.f8f0157b.chunk.js.map
build/static/js/main.51bc7a7a.chunk.js
build/static/js/main.51bc7a7a.chunk.js.map
build/static/js/main.b32886b0.chunk.js
build/static/js/main.b32886b0.chunk.js.map
build/static/media/logo.68726117.png
build/static/media/logo.9d9cb233.png
build/static/media/offer-bg.24020476.png
build/static/media/offer-bg.5c81c88b.png
build/static/media/slide1.f2638422.png
build/static/media/slide2.032c17da.png
build/static/media/slide2.7ae02131.png
build/static/media/zehnder.3bf06f21.png
